src/node_modules
docs/*.osm
docs/research/OSM-data
src/logs
logs
src/.*
src/report*
*.cpuprofile
src/db.json
.DS_Store
old/
src/mapAreaImages
docs/~$ll document.docx
node_modules
src_rust/Cargo.lock
src_rust/target