.header-icon {
    font-size: 12pt;
    color: #fff;
}
#mapCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
#header {
    background-color: #202124f1;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #202124f1;
}
#controls {
    width: 15px;
    position: absolute;
}
#loading-indicator-container {
    position: absolute;
    padding: 5pt;
    background: #fff;
    right: 0px;
}
#results {
    position: absolute;
    padding: 15pt;
    padding-bottom: 20pt;
    right: 5pt;
    margin: 5pt;
    width: 500px;
    max-width: 90vw;
    max-height: 60vh;
    overflow-y: scroll;
}
#loading-indicator {
    width: 35px;
}