.header-icon {
    font-size: 12pt;
    color: #fff;
}
#mapCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
#header {
    background-color: #202124f1;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #202124f1;
}
#controls {
    width: 15px;
    position: absolute;
}
#loading-indicator-container {
    position: absolute;
    padding: 5pt;
    background: #fff;
    right: 0px;
}
#loading-indicator {
    width: 35px;
}